<h3>WPR</h3>
<header>
    <h2>HTML Quiz</h2>
</header>

<ul>
    <li><a class="active" href="/"><i
                class="far fa-question-circle"
            ></i>
            All questions</a></li>
    <li><a href="/add"><i class="far fa-plus"></i> New question</a></li>
</ul>